.landing-banner {
    min-height: 20rem;
    @media (min-width: 1024px) {
        min-height: calc(100vh - 5rem);
    }
}

.slick-prev {
    left: -60px;
    &:before {
        content: '';
    }
}

.slick-next {
    right: -60px;
    &:before {
        content: '';
    }
}

.slick-prev, .slick-next {
    top: 20%;
    width: 80px;
}