.landing-banner {
    min-height: 20rem;
    @media (min-width: 1024px) {
        min-height: calc(100vh - 5rem);
    }
}

.slick-prev {
    left: -60px;
    &:before {
        content: '';
    }
}

.slick-next {
    right: -60px;
    &:before {
        content: '';
    }
}

.slick-prev, .slick-next {
    top: 20%;
    width: 80px;
}

.gallery-image-hover:hover {
    position: relative;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0px 0px 10px #242424;
    > img {
        transition: all 300ms ease;
        position: relative;
        z-index: 100;
        transform: scale(1.2);
    }
}