.coming-bg-with-overlay:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/coming-bg-overlay.png);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.add-overlay:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/coming-bg-overlay.png);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 0.5;
}

.landing-banner {
  min-height: 20rem;
}
@media (min-width: 1024px) {
  .landing-banner {
    min-height: calc(100vh - 5rem);
  }
}

.slick-prev {
  left: -60px;
}
.slick-prev:before {
  content: "";
}

.slick-next {
  right: -60px;
}
.slick-next:before {
  content: "";
}

.slick-prev, .slick-next {
  top: 20%;
  width: 80px;
}

.gallery-image-hover:hover {
  position: relative;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0px 0px 10px #242424;
}
.gallery-image-hover:hover > img {
  transition: all 300ms ease;
  position: relative;
  z-index: 100;
  transform: scale(1.2);
}

html, body {
  scroll-behavior: smooth;
  font-size: 14px;
}
