<div class="landing-banner relative flex justify-center text-white items-center animation-element animate-1">
    <div class="coming-bg-with-overlay">
        <img class="absolute top-0 bottom-0 left-0 right-0 object-cover w-full h-full" src="{{coming_background}}">
    </div>
    <div class="flex-1 relative z-10 p-4 animation-element animate-1">
        <div class="flex items-center justify-center flex-col gap-6">
            <h1 class="text-3xl lg:text-5xl font-bold flex gap-4 w-full justify-center flex-col lg:flex-row">
                <span class="flex-1 lg:text-right py-4">bringing</span>
                <div class="scroll-up-slider max-w-xl border-b-4 px-4 flex flex-col">
                    {{ taxonomy:banner-tags }}
                    <span class="whitespace-nowrap lg:text-center py-4">{{title}}</span>
                    {{ /taxonomy:banner-tags }}
                </div>
                <span class="flex-1 py-4">to life</span>
            </h1>
        </div>
    </div>
</div>

<div class="w-11/12 lg:h-screen mx-auto py-2 px-4">
    <div class="flex-1 flex gap-12 lg:gap-4 lg:h-full py-20 flex-col lg:flex-row">
        <div class="lg:flex-1 lg:h-full h-96 animation-element animate-2">
            <div class="relative h-full max-w-2xl">
                {{about_images}}
                <img class="absolute {{index == 1 ? 'bottom-0 right-0' : 'top-0 left-0'}} object-cover w-4/6 h-3/4" src="{{url}}">
                {{/about_images}}
            </div>
        </div>
        <div class="flex-1 flex items-center animation-element animate-2">
            <div class="flex flex-col gap-4 max-w-xl px-5">
                <h1 class="text-5xl font-bold text-brown-2">{{about_title}}</h1>
                <div class="text-lg">{{about_text}}</div>
                <div class="flex justify-start">
                    <a href="/#About" class="text-white bg-brown-2 font-semibold uppercase text-lg px-6 py-6 w-auto">
                        More About Us
                        <svg class="w-4 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-11/12 mx-auto py-20 px-4 animation-element animate-1">
    <div class="flex gap-4 flex-col lg:flex-row">
        <div class="flex-1 flex flex-col gap-4">
            <h1 class="text-5xl font-bold text-brown-2">{{brands_title}}</h1>
            <div class="text-lg max-w-3xl">{{brands_text}}</div>
        </div>
        <div class="flex-1 flex items-center justify-center">
            <a href="/#Features" class="text-white bg-brown-2 font-semibold uppercase text-lg px-6 py-6 w-auto">
                More Concepts
                <svg class="w-4 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25"></path>
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="w-11/12 mx-auto py-20 px-4">
    <div class="flex gap-8 flex-col lg:flex-row">
        <div class="flex-1 h-full grid grid-cols-1 lg:grid-cols-4 gap-8">
            {{gallery}}
            <div class="relative flex-1 animation-element animate-2">
                <img class="object-cover w-full h-96" src="{{url}}">
            </div>
            {{/gallery}}
        </div>
    </div>
</div>

<div class="w-11/12 mx-auto py-20 px-4 animation-element animate-1">
    <h1 class="text-5xl font-bold text-brown-2 uppercase mb-8">Features</h1>
    <div class="flex gap-16 justify-between flex-col lg:flex-row">
        {{ taxonomy:features }}
        <div class="flex flex-1 gap-4 flex-col bg-gray-2 max-w-lg">
            <div class="px-4 pt-4 flex gap-8">
                <span class="uppercase font-semibold">Features</span>
                <span class="text-gray-3">{{date}}</span>
            </div>
            <div class="px-4 pb-4">
                <div class="text-xl">{{content}}</div>
            </div>
            <div>
                <div class="relative flex-1 h-80">
                    <img class="object-cover w-full h-full" src="{{image}}">
                </div>
            </div>
            <div class="px-6 pb-6">
                <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                </svg>  
            </div>
        </div>
        {{ /taxonomy:features }}
    </div>

    <div class="flex justify-center mt-20">
        <a href="/#Features" class="text-white bg-brown-2 font-semibold uppercase text-lg px-6 py-6 w-auto">
            Read More
            <svg class="w-4 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25"></path>
            </svg>
        </a>
    </div>
</div>


<div class="w-11/12 mx-auto py-20 px-4 animation-element animate-2">
    <div class="h-0.5 bg-gray-3 mb-20"></div>
    <div class="flex items-center flex-col mb-10">
        <img class="object-cover w-20 rotate-180 mb-10" src="/assets/quotation.svg">
        <p class="max-w-2xl mb-10 text-xl">{{qoute_text}}</p>
        <p class="text-2xl">{{qoute_author}}</p>
        <p class="text-lg text-gray-3">{{qoute_author_title}}</p>
    </div>
    <div class="flex justify-center items-center gap-8">
        {{qoute_images}}
        <div>
           <img class="rounded-full w-32 h-32" src="{{url}}">
        </div>
        {{/qoute_images}}
    </div>
</div>

<div class="bg-brown-2 py-20 px-4 lg:px-20 animation-element animate-1">
    <h1 class="text-5xl font-bold text-white uppercase text-center pb-8 border-b-2 mx-auto max-w-md mb-32">OUR BRANDS</h1>
    <div class="brand-slider">
        {{ taxonomy:brands }}
        <div>
            <div class="flex align-center justify-center">
                <img class="h-32" src="{{logo}}">
            </div>
        </div>
        {{ /taxonomy:brands }}
    </div>
</div>

<div class="py-20 px-4 lg:px-20 animation-element animate-2">
    <h1 class="text-5xl font-bold text-brown-2 uppercase text-center mb-32">AFFILIATIONS</h1>
    <div class="affiliation-slider">
        {{ taxonomy:affiliations }}
        <div>
            <div class="flex align-center justify-center">
                <img class="h-32" src="{{logo}}"> 
            </div>
        </div>
        {{ /taxonomy:affiliations }}
    </div>
</div>

<div class="">        
    <div>
        {{ instagram limit="6" as="ig" }}
            <div>
                {{ ig }}
                    <a href="{{ permalink }}" >
                        <img src="{{ thumbnail_url ?? media_url }}" alt="{{ caption }}" />
                    </a>
                {{ /ig }}
            </div>
        {{ /instagram }}
    </div>
</div>