<div class="landing-banner relative flex justify-center text-white items-center">
    <div class="coming-bg-with-overlay">
        <img class="absolute top-0 bottom-0 left-0 right-0 object-cover w-full h-full" src="/assets/placeholder.jpg">
    </div>
    <div class="flex-1 relative z-10 p-4">
        <div class="flex items-center justify-center flex-col gap-6">
            <h1 class="text-3xl lg:text-5xl font-bold flex gap-4 w-full justify-center flex-col lg:flex-row">
                <span class="flex-1 lg:text-right py-4">bringing</span>
                <div class="scroll-up-slider flex-1 border-b-4 px-4 flex flex-col">
                    <span class="whitespace-nowrap lg:text-center py-4">unique ideas</span>
                    <span class="whitespace-nowrap lg:text-center py-4">new concepts</span>
                    <span class="whitespace-nowrap lg:text-center py-4">quality living</span>
                    <span class="whitespace-nowrap lg:text-center py-4">special celebrations</span>
                </div>
                <span class="flex-1 py-4">to life</span>
            </h1>
        </div>
    </div>
</div>

<div class="w-11/12 h-screen mx-auto py-2 px-4">
    <div class="flex-1 flex gap-4 h-full py-20">
        <div class="flex-1 h-full overflow-hidden">
            <div class="relative h-full max-w-2xl">
                <img class="absolute top-0 left-0 object-cover w-4/6 h-3/4" src="/assets/placeholder.jpg">
                <img class="absolute bottom-0 right-0 object-cover w-4/6 h-3/4" src="/assets/placeholder.jpg">
            </div>
        </div>
        <div class="flex-1 flex items-center">
            <div class="flex flex-col gap-4 max-w-xl px-5">
                <h1 class="text-5xl font-bold text-brown-2">THE GROUP</h1>
                <p class="text-lg">Welcome to the world of <b>SCRIM Group of Companies,</b> where dreams become reality, and every experience is truly extraordinary and we are up for more new concepts that screams change, sustainability and to improve quality of living.</p>
                <p class="text-lg"><b>Screaming Change</b>  . Innovation and evolution are in our DNA. We welcome change with open arms, embracing new concepts, and ideas that keep us at the forefront of the entertainment landscape. Our adaptability ensures that we stay ahead of trends, continuously elevating our offerings to meet the evolving needs and desires of our audience.</p>
                <div class="flex justify-start">
                    <a href="/#About" class="text-white bg-brown-2 font-semibold uppercase text-lg px-6 py-6 w-auto">
                        More About Us
                        <svg class="w-4 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-11/12 mx-auto py-20 px-4">
    <div class="flex gap-4">
        <div class="flex-1 flex flex-col gap-4">
            <h1 class="text-5xl font-bold text-brown-2">OUR BRANDS</h1>
            <p class="text-lg max-w-3xl">Sunset Hospitality Group remains committed to delivering unparalleled hospitality concepts, exceptional lifestyle experiences, unforgettable entertainment acts and culinary excellence. That's why we have tailored our offerings to cater to the needs of lifestyle enthusiasts through our four distinct divisions: Hotels & Resorts, Daylife, Dining, and Nightlife.</p>
        </div>
        <div class="flex-1 flex items-center justify-center">
            <a href="/#Features" class="text-white bg-brown-2 font-semibold uppercase text-lg px-6 py-6 w-auto">
                More Concepts
                <svg class="w-4 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25"></path>
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="w-full h-screen">
    <div class="flex h-full">
        <div class="flex-1 h-full flex flex-col">
            <div class="relative flex-1">
                <img class="absolute bottom-0 right-0 object-cover w-full h-full" src="/assets/placeholder.jpg">
            </div>
            <div class="relative flex-1">
                <img class="absolute bottom-0 right-0 object-cover w-full h-full" src="/assets/placeholder.jpg">
            </div>
        </div>
        <div class="flex-1 h-full flex flex-col">
            <div class="relative flex-1">
                <img class="absolute bottom-0 right-0 object-cover w-full h-full" src="/assets/placeholder.jpg">
            </div>
            <div class="relative flex-1">
                <img class="absolute bottom-0 right-0 object-cover w-full h-full" src="/assets/placeholder.jpg">
            </div>
        </div>
        <div class="flex-1 h-full flex flex-col">
            <div class="relative flex-1">
                <img class="absolute bottom-0 right-0 object-cover w-full h-full" src="/assets/placeholder.jpg">
            </div>
            <div class="relative flex-1">
                <img class="absolute bottom-0 right-0 object-cover w-full h-full" src="/assets/placeholder.jpg">
            </div>
        </div>
    </div>
</div>

<div class="w-11/12 mx-auto py-20 px-4">
    <h1 class="text-5xl font-bold text-brown-2 uppercase mb-8">Features</h1>
    <div class="flex gap-16 justify-between">
        <div class="flex flex-1 gap-4 flex-col bg-gray-2 max-w-lg">
            <div class="px-4 pt-4 flex gap-8">
                <span class="uppercase font-semibold">Features</span>
                <span class="text-gray-3">Jul 28, 2023</span>
            </div>
            <div class="px-4 pb-4">
                <p class="text-xl">When In Manila: Meet The Newest Al Fresco Bar of the Town</p>
            </div>
            <div>
                <div class="relative flex-1 h-80">
                    <img class="object-cover w-full h-full" src="/assets/placeholder.jpg">
                </div>
            </div>
            <div class="px-6 pb-6">
                <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                </svg>  
            </div>
        </div>
        
        <div class="flex flex-1 gap-4 flex-col bg-gray-2 max-w-lg">
            <div class="px-4 pt-4 flex gap-8">
                <span class="uppercase font-semibold">Features</span>
                <span class="text-gray-3">Jul 28, 2023</span>
            </div>
            <div class="px-4 pb-4">
                <p class="text-xl">#FilipinoPride: This Filipino Restaurant Bagged Best Local Gem in Dubai Expo 2020!</p>
            </div>
            <div>
                <div class="relative flex-1 h-80">
                    <img class="object-cover w-full h-full" src="/assets/placeholder.jpg">
                </div>
            </div>
            <div class="px-6 pb-6">
                <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                </svg>  
            </div>
        </div>
        
        <div class="flex flex-1 gap-4 flex-col bg-gray-2 max-w-lg">
            <div class="px-4 pt-4 flex gap-8">
                <span class="uppercase font-semibold">Features</span>
                <span class="text-gray-3">Jul 28, 2023</span>
            </div>
            <div class="px-4 pb-4">
                <p class="text-xl">Discover the City's Hidden Gem: A Stylish Al Fresco Bar Unveiled by spot.ph!</p>
            </div>
            <div>
                <div class="relative flex-1 h-80">
                    <img class="object-cover w-full h-full" src="/assets/placeholder.jpg">
                </div>
            </div>
            <div class="px-6 pb-6">
                <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                </svg>  
            </div>
        </div>
    </div>

    <div class="flex justify-center mt-20">
        <a href="/#Features" class="text-white bg-brown-2 font-semibold uppercase text-lg px-6 py-6 w-auto">
            Read More
            <svg class="w-4 inline" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 4.5l15 15m0 0V8.25m0 11.25H8.25"></path>
            </svg>
        </a>
    </div>
</div>


<div class="w-11/12 mx-auto py-20 px-4">
    <div class="h-0.5 bg-gray-3 mb-20"></div>
    <div class="flex items-center flex-col mb-10">
        <img class="object-cover w-20 rotate-180 mb-10" src="/assets/quotation.svg">
        <p class="max-w-2xl mb-10 text-xl">SCRIM Group is definitely doing something ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor ultrices enim a tincidunt. Vivamus sed dui ultrices, consectetur ipsum ut, sollicitudin orci. Nunc eu metus ac ligula porttitor dapibus at id tellus.</p>
        <p class="text-2xl">Sam Verzosa</p>
        <p class="text-lg text-gray-3">Business Mogul</p>
    </div>
    <div class="flex justify-center items-center gap-8">
        <div>
           <img class="rounded-full w-32 h-32" src="/assets/placeholder.jpg"> 
        </div>
        <div>
           <img class="rounded-full w-32 h-32" src="/assets/placeholder.jpg"> 
        </div>
        <div>
           <img class="rounded-full w-32 h-32" src="/assets/placeholder.jpg"> 
        </div>
    </div>
</div>

<div class="">        
    <div>
        {{ instagram limit="6" as="ig" }}
            <div>
                {{ ig }}
                    <a href="{{ permalink }}" >
                        <img src="{{ thumbnail_url ?? media_url }}" alt="{{ caption }}" />
                    </a>
                {{ /ig }}
            </div>
        {{ /instagram }}
    </div>
</div>